html,
body {
    height: 100%;
    background-color: #111213;
}

::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

.form-control {
    color: rgb(186, 180, 171);
    background-color: rgb(19, 21, 22);
    border-color: rgb(101, 94, 83);
}

.form-control:focus {
    color: rgb(186, 180, 171);
    background-color: rgb(25, 27, 29);
    border-color: rgb(40, 45, 71);
}

#queue {
    height: 40vh;
}

.player {
    background-color: #111213;
}

.thumb-img-dashboard {
    width: 80px;
}

.current-music {
    border: 2px solid#00bc8c;
}

.music {
    color: #00bc8c;
}

.music .title:hover {
    cursor: pointer;
}

.music .thumb-img-dashboard:hover {
    cursor: pointer;
}

.img-thumbnail {
    background-color: rgb(26, 28, 29);
    border-color: rgb(56, 61, 63);
}

.btn-success {
    color: #fff;
    background-color: #00bc8c;
    border-color: #00bc8c;
}

a {
    color: #00bc8c;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    cursor: pointer;
}

.inactive-a {
    color: rgb(255, 255, 255);
}

.inactive-a:hover {
    color: #dbe6e3;
}

/* Disable pointer events for progress-bar handle only */
#progress-bar .noUi-handle {
    pointer-events: none;
    display: none;
}

.noUi-target {
    background-image: initial;
    background-color: rgb(27, 29, 30);
    border-color: rgb(60, 65, 68);
    box-shadow: rgb(32, 35, 37) 0px 1px 1px inset,
        rgb(62, 68, 70) 0px 3px 6px -5px;
}

.noUi-target .noUi-connect {
    background-color: rgb(0, 150, 112);
}

.noUi-target .noUi-handle {
    width: 25px !important;
    height: 25px !important;
    top: -5px !important;
    right: -14px !important;
    border-radius: 50%;
    background: #00bc8c;
    border: 6px solid #303436;
    box-shadow: inset 0 0 0px #fff;
}

.noUi-target .noUi-handle:after,
.noUi-target .noUi-handle:before {
    content: none;
}
